/* Page Setup + Mixins */

$breakXLNoUnit: 1440;
$breakXL: 1440px;
$breakL: 1024px;
$breakM: 950px;
$breakS: 768px;
$breakSNoUnit: 768;

:root {
  --gutter: 30px;
  --pageMarginTotal: 135px;
  --pageMargin: calc(var(--pageMarginTotal) - (var(--gutter) / 2));
  --easingOut: cubic-bezier(0.16, 1, 0.3, 1);
  --easing: cubic-bezier(0.76, 0, 0.24, 1);

  @media all and (max-width: $breakS) {
    --pageMarginTotal: 20px;
  }
}

@mixin fluidProp($prop, $min, $max) {
  #{$prop}: #{$min + "px"};
  $diff: ($max - $min);
  $screenDiff: ($breakXLNoUnit - $breakSNoUnit);
  @media screen and (min-width: $breakS) {
    #{$prop}: calc(
      #{$min + "px"} + #{$diff} * ((100vw - #{$breakS}) / #{$screenDiff})
    );
  }
  @media screen and (min-width: $breakXL) {
    #{$prop}: #{$max + "px"};
  }
}

@import "reset";
@import "grid";
@import "typography";

/* Colours */

/* Grid Overlay */

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .column-overlay {
    background: red;
    opacity: 0.1;
    height: 100vh;
  }
}

/* General Styles */
body {
  font-family: "Barlow";
  color: #808080;
  background-color: #fdfdfd;
}
.nav-bar {
  padding: 20px 0px;
  overflow: hidden;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 20px #808080;
}
.nav-bar .columns {
  align-items: center;
}
.mobile-menu-container {
  display: none;

  @media all and (max-width: $breakS) {
    display: block;
  }
}

.mobile-menu-link {
  display: flex;
  justify-content: flex-end;

  a {
    position: relative;
    font-size: 20px;
    color: #112b3c;

    &.active {
      .icon-close {
        opacity: 1;
        transform: translate(-50%, -60%) rotate(-90deg);
      }
      .icon-menu {
        opacity: 0;
        transform: rotate(-90deg);
      }
    }
  }
  .icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  .icon-close,
  .icon-menu {
    transition: all 0.3s;
  }
}

.logo img {
  width: 55px;
  height: 29px;
  display: inline-flex;
}

.nav-items-container {
  display: flex;
  justify-content: center;
  @media all and (max-width: $breakS) {
    display: none;
    &.show {
      display: flex;
    }
  }
}

.nav-items {
  list-style: none;
  align-self: center;
  column-gap: 40px;
  flex-wrap: wrap;
  display: inline-flex;
  position: relative;

  @media all and (max-width: $breakS) {
    column-gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}
// .target {
//   position: absolute;
//   border-bottom: 4px solid transparent;
//   z-index: -1;
//   transform: translateX(-60px);
// }
// // .nav-items li:not(:last-child) {
// //   margin-right: 20px;
// // }

// .nav-items a,
// .target {
//   transition: all .35s ease-in-out;
// }
.nav-items a {
  text-decoration: none;
  font-size: 20px;
  color: #808080;
  // width   : 200px;
  // height  : 25px;
  position: relative;
  z-index: 1;
  letter-spacing: 0.235px;

  // transition: all .35s ease-in-out;
}

.nav-items a::after {
  background-color: #e61c5d;
  content: "";
  width: 0;
  height: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: -8px;
  transition: width 0.35s ease 0s;
  position: absolute;
  border-radius: 20px;
}

.nav-items a:hover::after {
  width: 33%;
}

.nav-items a:hover {
  color: black;
  font-weight: 500;
  transition: color 1.2s ease 0s, font-weight 1.2s ease 0s;
  letter-spacing: 0.104px;
}

.register-container {
  display: flex;
  justify-content: flex-end;
  @media all and (max-width: $breakS) {
    display: none;
    &.show {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      // margin-bottom: ;
    }
  }
}

.register {
  display: inline-flex;
  column-gap: 30px;
  align-items: center;
}

.register a {
  text-decoration: none;
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.login-button a::after {
  background-color: #e61c5d;
  content: "";
  width: 0;
  height: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: -8px;
  transition: width 0.35s ease 0s;
  position: absolute;
  border-radius: 20px;
}

.login-button a:hover::after {
  width: 33%;
}
.login-button a:hover {
  color: black;
  font-weight: 500;
  transition: color 1.2s ease 0s, font-weight 1.2s ease 0s;
}

.red-button a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #e61c5d;
  padding: 18px 24px;
  border-radius: 45px;
}
.red-button a:hover {
  background-color: white;
  color: #e61c5d;
  border: 1px solid #e61c5d;
  padding: 17px 23px;
  transition: color 0.65s ease 0s, background-color 0.65s ease 0s;
}
// .red-button a:hover::after {
//   transition: ;
// }
.text-box {
  margin-top: 290px;
  @media all and (max-width: $breakS) {
    margin-top: 120px;
  }
  &.top {
    margin-top: 260px;
    @media all and (max-width: $breakS) {
      margin-top: 130px;
    }
  }
  &.center {
    text-align: center;
    @media all and (max-width: $breakS) {
      margin-top: 40px;
    }
  }
}

.text-box h1 {
  color: #112b3c;
  font-size: 64px;
  @media all and (max-width: $breakS) {
    font-size: 32px;
  }
}
.text-box h2 {
  padding-top: 32px;
  font-weight: 400;
  @media all and (max-width: $breakS) {
    font-size: 18px;
  }
}
.media-block-container {
  display: inline-block;
  margin-top: 134px;
  position: relative;

  &.top {
    margin-top: 185px;
    width: 100%;
    @media all and (max-width: $breakS) {
      margin-top: 50px;
    }
  }
  &.middle {
    width: 80%;
  }
}

.media-block {
  overflow: hidden;

  &.small {
    border-radius: 250px;
    position: absolute;
    bottom: 79px;
    right: 0px;
    border: 8px solid white;
    width: 35%;
  }
  &.large {
    border-radius: 200px 200px 0px 0px;
    width: 80%;
  }
  &.small-2 {
    border-radius: 250px;
    position: absolute;
    bottom: -96px;
    right: -45px;
    border: 8px solid white;
    width: 50%;
  }
  &.large-2 {
    border-radius: 200px;
    width: 70%;
  }
  &.portrait {
    aspect-ratio: 9 / 16;
  }

  img {
    /* COVER PARENT DIV AND FILL SPACE */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.purple-header {
  color: #e61c5d;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}
.stat-container {
  display: flex;
  padding-top: 24px;
  // padding-right: 24px;
  justify-content: space-between;
}
.stats {
  flex-basis: 100px;
}
.stat-num {
  color: #e61c5d;
  font-size: 40px;
  font-weight: bold;
}
.stat-text {
  font-size: 16px;
}
.page-module {
  overflow: hidden;
}
.carousel {
  margin-top: 80px;
  margin-bottom: 80px;
  @media all and (max-width: $breakS) {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .flickity-viewport {
    overflow: visible;
  }

  .slide {
    width: calc((100% - (2 * var(--gutter))) / 3);
    margin: 20px 0;
    margin-right: var(--gutter);
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px #808080;
    @media all and (max-width: $breakS) {
      width: calc((100% - (2 * var(--gutter))) / 1);
    }

    .slide-img {
      aspect-ratio: 37 / 31;
    }

    .slide-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 18px 26px;
    }
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }
  .slide-2 {
    position: relative;
    width: calc((100% - (2 * 32px)) / 3);
    margin: 20px 0;
    margin-right: var(--gutter);
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 350px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px #808080;
    @media all and (max-width: $breakS) {
      width: calc((100% - (2 * var(--gutter))) / 1);
    }

    .slide-content {
      padding: 0px 40px 60px 40px;
    }
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-top: 46px;
    }
  }
}

.carousel-arrows {
  margin-top: 380px;
  position: relative;
  @media all and (max-width: $breakS) {
    margin-top: 100px;
  }

  &.alt-2 {
    position: absolute;
    transform: translate(0px, -145px);
    @media all and (max-width: $breakS) {
      margin-top: 130px;
      display: none;
    }
  }

  &.alt {
    margin-top: 30px;
    @media all and (max-width: $breakS) {
      margin-top: 130px;
      display: none;
    }

    img {
      position: absolute;
      transform: translate(0px, 200px);
    }
  }
}

.carousel-arrows img {
  display: inline-block;
  padding-left: 12px;
}

.carousel-arrows img:hover {
  cursor: pointer;
}
.quote-container-2 {
  position: absolute;
  padding: 10px;
  top: -26px;
  right: 26px;

  svg {
    height: 33.33px;
    width: 33.33px;
    z-index: 1;
    color: #e61c5d;
  }
}
.slide-header {
  font-size: 20px;
  font-weight: bold;
  color: #112b3c;
}
.slide-location {
  font-size: 14px;
  font-weight: 400;
  color: #112b3c;
  padding-top: 8px;
}
.slide-rating {
  padding: 4px 6px;
  color: #ffbd39;
  font-weight: bold;
  background-color: rgba($color: #ffbd39, $alpha: 0.12);
  display: inline-flex;
  border-radius: 38px;
  align-items: center;
  gap: 5px;
}
.price-time {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  align-items: flex-end;
}
.slide-num {
  font-size: 26px;
  font-weight: bold;
  color: #e61c5d;
}
.testimonial-text {
  text-align: center;
}

.slide-name {
  color: #112b3c;
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px;
}
.slide-job {
  color: #112b3c;
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
}
.slide-testimonial {
  color: #112b3c;
  font-size: 14px;
  font-weight: 400;
}
.text-box .red-button {
  padding-top: 50px;
}
.big-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  @media all and (max-width: $breakS) {
    flex-wrap: wrap;
    gap: var(--gutter);
    margin: 30px 0;
  }
}
.child-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 20px #808080;
  @media all and (max-width: $breakS) {
    width: calc((100% - (1 * var(--gutter))) / 2);
  }
  &.one {
    align-self: flex-start;
  }
  &.two {
    margin-top: 120px;
    align-self: flex-end;
    @media all and (max-width: $breakS) {
      margin-top: 0;
    }
  }
  &.three {
    align-self: flex-end;
    margin-top: 120px;
    @media all and (max-width: $breakS) {
      margin-top: 0;
    }
  }
  &.four {
    align-self: flex-start;
  }

  img {
    border-radius: 16px;
    padding: 6px 7px 0px 7px;
    width: 100%;
  }
}
.text {
  color: #112b3c;
  &.big {
    font-size: 18px;
    font-weight: bold;
    padding: 13px 0px 8px 10px;
    @media all and (max-width: $breakS) {
      font-size: 12px;
      padding: 4px 0 4px 4px;
    }
  }
  &.small {
    font-size: 14px;
    font-weight: bold;
    padding: 13px 0px 8px 10px;
    @media all and (max-width: $breakS) {
      font-size: 12px;
      padding: 4px 0 4px 4px;
    }
  }
}
.price-time-container {
  display: inline-flex;
  @media all and (max-width: $breakS) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.price {
  color: #e61c5d;
  padding-left: 10px;
  @media all and (max-width: $breakS) {
    font-size: 8px;
  }

  &.big {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    @media all and (max-width: $breakS) {
      font-size: 12px;
      padding-bottom: 4px;
    }
  }
  &.small {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    @media all and (max-width: $breakS) {
      font-size: 12px;
      padding-bottom: 4px;
    }
  }
}
.time {
  padding-left: 15px;
  margin-top: 3px;
  @media all and (max-width: $breakS) {
    font-size: 10px;
    padding-left: 4px;
    margin-top: 0px;
  }
  &.big {
    font-size: 14px;
    font-weight: 500;
    @media all and (max-width: $breakS) {
      font-size: 10px;
      margin-top: 0px;
      padding-left: 4px;
    }
  }
  &.small {
    font-size: 10px;
    font-weight: 500;
    @media all and (max-width: $breakS) {
      font-size: 10px;
      margin-top: 0px;
      padding-left: 6px;
    }
  }
}
.footer-header {
  font-size: 18px;
  font-weight: bold;
  color: #112b3c;
  @media all and (max-width: $breakS) {
    padding-bottom: 30px;
    margin-right: 30px;
  }
}

.starter-block,
.center-block {
  margin-top: 240px;
  padding-bottom: 100px;
  font-size: 14px;
  font-weight: 400;
  color: #112b3c;
  justify-content: center;
  li {
    padding-bottom: 18px;
    @media all and (max-width: $breakS) {
      padding-bottom: 6px;
    }
  }
  @media all and (max-width: $breakS) {
    margin-top: 40px;
    padding-bottom: 30px;
    margin-right: 40px;
  }
  .center-block {
    @media all and (max-width: $breakS) {
      margin-left: 30px;
    }
  }
  .start-block {
    @media all and (max-width: $breakS) {
      margin-top: 0;
      padding-bottom: 30px;
      margin-right: 0;
      display: flex;
    }
    li {
      @media all and (max-width: $breakS) {
        align-self: center;
      }
    }
  }
}
.starter-block li svg {
  width: 24px;
  height: 24px;
  color: #e61c5d;
  margin-right: 12px;
}
.starter-block a {
  text-decoration: none;
}
.stars {
  color: #ffbd39;
  padding-top: 4px;
  padding-bottom: 12px;
}

.end-block {
  margin-top: 240px;
  padding-bottom: 100px;
  font-size: 14px;
  font-weight: 400;
  color: #112b3c;
  @media all and (max-width: $breakS) {
    margin-top: 40px;
    padding-bottom: 70px;
    margin-left: 30px;
  }
}

.footer-flex {
  display: flex;
  align-items: center;
  text-align: center;
}
.footer-header {
  padding-bottom: 18px;
}
.footer-text {
  padding-bottom: 18px;
}
.email-button {
  padding: 10px 0px 10px 10px;
  display: inline-flex;
  box-shadow: 0px 0px 20px #808080;
  border-radius: 55px;
  width: max-content;
}
.email-button input {
  margin-right: 80px;
  margin-left: 18px;
  border: none;
}
.email-button svg {
  height: 32px;
  width: 32px;
  background-color: #e61c5d;
  color: #fdfdfd;
  padding: 4px;
  border-radius: 50%;
  margin-right: 8px;
}
