/* Page Setup + Mixins */

$breakXLNoUnit: 1440;
$breakXL: 1440px;
$breakL: 1024px;
$breakM: 950px;
$breakS: 768px;
$breakSNoUnit: 768;

:root {
  --gutter: 30px;
  --pageMarginTotal: 135px;
  --pageMargin: calc(var(--pageMarginTotal) - (var(--gutter) / 2));
  --easingOut: cubic-bezier(0.16, 1, 0.3, 1);
  --easing: cubic-bezier(0.76, 0, 0.24, 1);
  
  @media all and (max-width: $breakS) {
    --pageMarginTotal: 20px;
  }
}

@mixin fluidProp($prop, $min, $max) {
  #{$prop}: #{$min + 'px'};
  $diff: ($max - $min);
  $screenDiff: ($breakXLNoUnit - $breakSNoUnit);
  @media screen and (min-width: $breakS) {
      #{$prop}: calc(#{$min + 'px'} + #{$diff} * ((100vw - #{$breakS}) / #{$screenDiff}));
  }
  @media screen and (min-width: $breakXL) {
      #{$prop}: #{$max + 'px'};
  }
}

@import "reset";
@import "grid";
@import "typography";

/* Colours */

/* Grid Overlay */

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .column-overlay {
    background: red;
    opacity: 0.1;
    height: 100vh;
  }
}

/* General Styles */
body {
  font-family: 'Barlow';
  color: #808080;
  background-color:#FDFDFD;
  
}
.nav-bar {
  border-bottom: 1px solid #dddada;
  padding: 38px 0px;
  overflow: hidden;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

}

.logo img {
  width: 55px;
  height: 29px;
  display: inline-flex;
}
.nav-items-container {
  display: flex;
  justify-content: center;
}
.nav-items {
  list-style: none;
  align-self: center;
  column-gap: 40px;
  flex-wrap: wrap;
  display:inline-flex;
  position: relative;
  
}
// .target {
//   position: absolute;
//   border-bottom: 4px solid transparent;
//   z-index: -1;
//   transform: translateX(-60px);
// }
// // .nav-items li:not(:last-child) {
// //   margin-right: 20px;
// // }

// .nav-items a,
// .target {
//   transition: all .35s ease-in-out;
// }
.nav-items a {
  text-decoration: none;
  font-size: 20px; 
  color: #808080;
  // width   : 200px;
  // height  : 25px;   
  position: relative;
  z-index : 1;

  // transition: all .35s ease-in-out;
}
.nav-items a::after {
  background-color: #E61C5D;
  content: "";
  width: 0;
  height: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: -8px;
  transition: width 0.35s ease 0s;
  position: absolute;
  border-radius: 20px;
}
.nav-items a:hover::after {
  width: 33%;
 
}
.nav-items a:hover {
  color: black;
  font-weight: 500;
  transition: color 1.2s ease 0s,
  font-weight 1.2s ease 0s;
  padding: -1px;
  
}
.register-container {
  display: flex;
  justify-content: flex-end;
}
.register {
  display: inline-flex;
  column-gap: 30px;
}
.register a {
  text-decoration: none;
  font-size: 20px; 
  position: relative;
  z-index : 1;
}
.login-button a::after {
  background-color: #E61C5D;
  content: "";
  width: 0;
  height: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: -8px;
  transition: width 0.35s ease 0s;
  position: absolute;
  border-radius: 20px;
}
.login-button a:hover::after {
  width: 33%;
}
.login-button a:hover {
  color: black;
  font-weight: 500;
  transition: color 1.2s ease 0s,
  font-weight 1.2s ease 0s;
}

.red-button a {
  text-decoration: none;
  color: white;
  background-color: #E61C5D;
  padding: 18px 24px;
  border-radius: 45px;
}
.red-button a:hover {
  background-color: white;
  color: #E61C5D;
  border: 1px solid #E61C5D;
  padding: 18px 23px;
  transition: color 0.65s ease 0s, background-color 0.65s ease 0s;
}
// .red-button a:hover::after {
//   transition: ;
// }
.text-box {
  margin-top: 290px;

  &.top {
    margin-top: 260px;
  }
  &.center {
    text-align: center;
  }
}

.text-box h1 {
  color: #112B3C;
  font-size: 64px;
}
.text-box h2 {
  padding-top: 32px;
  font-weight: 400;
}
.media-block-container {
  display: inline-block;
  margin-top: 134px;
  position: relative;
  
  &.top {
    margin-top: 185px;
    width: 100%;
    
  }
  &.middle {
    width: 80%;
  }
}

.media-block {
  overflow: hidden;
  
  
  &.small {
    border-radius: 250px;
    position: absolute;
    bottom: 79px;
    right: 0px;
    border: 8px solid white;
    width: 35%;
  }
  &.large {
    border-radius: 200px 200px 0px 0px;
    width: 80%;
  }
  &.small-2 {
    border-radius: 250px;
    position: absolute;
    bottom: -96px;
    right: -45px;
    border: 8px solid white;
    width: 50%;
  }
  &.large-2 {
    border-radius: 200px;
    width: 70%;
    
  }
  &.portrait {
    aspect-ratio: 9 / 16;
  }

  img {
    /* COVER PARENT DIV AND FILL SPACE */
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
}
.purple-header {
  color: #E61C5D;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}
.stat-container {
  display: flex;
  padding-top: 24px;
  // padding-right: 24px;
  justify-content: space-between;
}
.stats {
  flex-basis: 100px;
}
.stat-num {
  color: #E61C5D;
  font-size: 40px;
  font-weight: bold;
}
.stat-text {
  font-size: 16px;
}
.carousel {
  margin-top: 80px;

  .slide {
    width: calc((100% - (2 * var(--gutter))) / 3);
    margin-right: var(--gutter);
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px #808080;
    .slide-img {
      aspect-ratio: 37 / 31;
    }

    .slide-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-bottom: 18px;
    }
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
  }
  .slide-2 {
    width: calc((100% - (2 * 32px)) / 3);
    margin-right: var(--gutter);
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 350px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px #808080;
    
    .slide-content {
      padding: 0px 40px 60px 40px;
    }
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-top: 46px;
    }
  }
  
 
}

.carousel-arrows {
  margin-top: 380px;
  position: relative;
  

  &.alt-2 {
    position: absolute;
    transform: translate(0px, -145px);
  }
 
  &.alt {
    margin-top: 30px;

    img {
      position: absolute;
      transform: translate(0px, 200px);
      
    }
    
  }

}

.carousel-arrows img {
  display: inline-block;
  padding-left: 12px;
}

.carousel-arrows img:hover {
  cursor: pointer;
}

.slide-header {
  font-size: 20px;
  font-weight: bold;
  color: #112B3C;
  padding-top: 20px;
  padding: 20px 26px 0px 26px;
}
.slide-location {
  font-size: 14px;
  font-weight: 400;
  color: #112B3C;
  padding: 8px 26px 0px 26px;
}
.slide-rating {
  padding: 8px 26px 0px 26px;
  color: #FFBD39;
  font-weight: bold;
}
.price-time {
  display: flex;
  justify-content: space-between;
  padding: 8px 26px 0px 26px;
  align-items: flex-end;
}
.slide-num {
  font-size: 26px;
  font-weight: bold;
  color: #E61C5D;
}
.testimonial-text {
  text-align: center;
}


.slide-name {
  color: #112B3C;
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px;
}
.slide-job {
  color: #112B3C;
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
}
.slide-testimonial {
  color: #112B3C;
  font-size: 14px;
  font-weight: 400;
}
#Price {
  padding-top: 50px;
}
.big-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.child-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 20px #808080;
  &.one {
    align-self: flex-start;
  }
  &.two {
    margin-top: 120px;
    align-self: flex-end;
  }
  &.three {
    align-self: flex-end;
    margin-top: 120px;
  }
  &.four {
    align-self: flex-start;
  }
 
  img {
    border-radius: 16px;
    padding: 6px 7px 0px 7px;
  }
}
.text {
  color: #112B3C;
  &.big {
    font-size: 18px;
    font-weight: bold;
    padding: 13px 0px 8px 10px;
  }
  &.small {
    font-size: 14px;
    font-weight: bold;
    padding: 13px 0px 8px 10px;
  }
}
.price-time-container {
  display:inline-flex;

  
}
.price {
  color: #E61C5D;
  padding-left: 10px;

  &.big {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
  &.small {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
  }
}
.time {
  padding-left: 15px;
  margin-top: 3px;
  &.big {
  font-size: 14px;
  font-weight: 500;
}
  &.small {
  font-size: 10px;
  font-weight: 500;
  }
}
.footer-header {
  font-size: 18px;
  font-weight: bold;
  color: #112B3C;
}

.starter-block, .center-block, .end-block {
  margin-top: 240px;
  padding-bottom: 100px;
  font-size: 14px;
  font-weight: 400;
  color: #112B3C;
   li {
    padding-bottom: 18px;
  }
}
