/* Page Setup + Mixins */

$breakXLNoUnit: 1440;
$breakXL: 1440px;
$breakL: 1024px;
$breakM: 950px;
$breakS: 768px;
$breakSNoUnit: 768;

:root {
  --gutter: 20px;
  --pageMarginTotal: 135px;
  --pageMargin: calc(var(--pageMarginTotal) - (var(--gutter) / 2));
  --easingOut: cubic-bezier(0.16, 1, 0.3, 1);
  --easing: cubic-bezier(0.76, 0, 0.24, 1);
  
  @media all and (max-width: $breakS) {
    --pageMarginTotal: 20px;
  }
}

@mixin fluidProp($prop, $min, $max) {
  #{$prop}: #{$min + 'px'};
  $diff: ($max - $min);
  $screenDiff: ($breakXLNoUnit - $breakSNoUnit);
  @media screen and (min-width: $breakS) {
      #{$prop}: calc(#{$min + 'px'} + #{$diff} * ((100vw - #{$breakS}) / #{$screenDiff}));
  }
  @media screen and (min-width: $breakXL) {
      #{$prop}: #{$max + 'px'};
  }
}

@import "reset";
@import "grid";
@import "typography";

/* Colours */

/* Grid Overlay */

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .column-overlay {
    background: red;
    opacity: 0.1;
    height: 100vh;
  }
}

/* General Styles */
body {
  font-family: 'Barlow';
  color: #808080;
  
}
.nav-bar {
  border-bottom: 1px solid #808080;
  padding: 38px 0px;
  overflow: hidden;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

}

.logo img {
  width: 55px;
  height: 29px;
  display: inline-flex;
}
.nav-items-container {
  display: flex;
  justify-content: center;
}
.nav-items {
  list-style: none;
  align-self: center;
  column-gap: 40px;
  flex-wrap: wrap;
  display:inline-flex;
  position: relative;
  
}
// .target {
//   position: absolute;
//   border-bottom: 4px solid transparent;
//   z-index: -1;
//   transform: translateX(-60px);
// }
// // .nav-items li:not(:last-child) {
// //   margin-right: 20px;
// // }

// .nav-items a,
// .target {
//   transition: all .35s ease-in-out;
// }
.nav-items a {
  text-decoration: none;
  font-size: 20px; 
  color: #808080;
  // width   : 200px;
  // height  : 25px;   
  position: relative;
  z-index : 1;

  // transition: all .35s ease-in-out;
}
.nav-items a::after {
  background-color: #E61C5D;
  content: "";
  width: 0;
  height: 4px;
  left: 33%;
  bottom: -8px;
  transition: width 0.35s ease 0s;
  position: absolute;
  border-radius: 20px;
}
.nav-items a:hover::after {
  width: 33%;
 
}
.nav-items a:hover {
  color: black;
  font-weight: 500;
  transition: color 1.2s ease 0s,
  font-weight 1.2s ease 0s;
  padding: -1px;
  
}
.register-container {
  display: flex;
  justify-content: flex-end;
}
.register {
  display: inline-flex;
  column-gap: 30px;
}
.register a {
  text-decoration: none;
  font-size: 20px; 
  position: relative;
  z-index : 1;
}
.login-button a::after {
  background-color: #E61C5D;
  content: "";
  width: 0;
  height: 4px;
  left: 33%;
  bottom: -8px;
  transition: width 0.35s ease 0s;
  position: absolute;
  border-radius: 20px;
}
.login-button a:hover::after {
  width: 33%;
}
.login-button a:hover {
  color: black;
  font-weight: 500;
  transition: color 1.2s ease 0s,
  font-weight 1.2s ease 0s;
}

.red-button a {
  color: white;
  background-color: #E61C5D;
  padding: 18px 24px;
  border-radius: 45px;
}
.red-button a:hover {
  background-color: white;
  color: #E61C5D;
  border: 1px solid #E61C5D;
  padding: 18px 23px;
  transition: color 0.65s ease 0s, background-color 0.65s ease 0s;
}
// .red-button a:hover::after {
//   transition: ;
// }
.text-box {
  margin-top: 260px;
}
.text-box h1 {
  color: #112B3C;
  font-size: 64px;
}
.media-block-container {
  display: inline-block;
  margin-top: 185px;
  position: relative;
}

.media-block {
  overflow: hidden;
  &.small {
    border-radius: 250px;
    position: absolute;
    bottom: 79px;
    right: 0px;
    border: 8px solid white;
  }
  &.large {
    border-radius: 200px 200px 0px 0px;
    width: 80%;
  }
  &.portrait {
    aspect-ratio: 9 / 16;
  }

  img {
    /* COVER PARENT DIV AND FILL SPACE */
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
}


